@charset "UTF-8";


.wrapper {
	max-heghit: 100%;
	display: flex;
	padding-top: 2%;
}

.contents {
	margin: 0 auto;
	z-index: 1;
	height: 100%;
	background-color: white;
	width: 1380px;
	min-height: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 3%;
}

