/* @charset "UTF-8";

.card {
	border: 2px solid;
	float: left;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	justify-content: space-between;
}

.card-title {
	background-color: black;
	
}

.card-text {
	background-color: black;
	
}

.cardlist {
	align-items: center;
	margin: auto;
}

.active {
	background-color: #cdd5ec;
}

.pageInfo{
      list-style : none;
      display: inline-block;    
      width: auto;
      justify-content: space-between;
      margin-right: 32px;
  }
.pageInfo li{
    float: left;
    font-size: 20px;
    padding: 7px;
    font-weight: 500;
    width: auto;
    justify-content: space-between;
  }

 a:link {color:black; text-decoration: none;}
 a:visited {color:black; text-decoration: none;}
 a:hover {color:black; text-decoration: underline;} */