@charset "UTF-8";

.footer {
	background-color: #575151;
	display: flex;
}

.foo_enterprise ul {
	float: left;
	color: white;
	font-size: 15px;
	list-style: none;
	display: flex;

}

.foo_enterprise li {
	padding: 1px 10px;
}

.foo_help {
	padding-left: 130px;
}

.foo_help a {
	color: white;
	font-size: 15px;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
}