<?xml version="1.0" encoding="UTF-8"?>
<!-- DML 명령 처리-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- Mapper 인터페이스와 동일한 이름 주어야 하므로 패키지명+mapper이름으로 작명 --> 
 <!-- 쿼리문 id는 인터페이스 메소드와 동일하게 설정 --> 
 <mapper namespace="com.kaactueail.mappers.FreeBoardMapper">
 
 	<select id="getAllList" resultType="com.kaactueail.dto.FreeBoardDTO">
 		select*from freeBoard order by freeBoardNum desc
 	</select>
 	
 	<select id="getByfreeBoardNum" resultType="com.kaactueail.dto.FreeBoardDTO">
 		select*from FreeBoard where freeBoardNum = #{freeBoardNum}
 	</select>
 	
 	<insert id="insertfreeBoard">
 		insert into freeboard values(freeBoardNum.nextval, #{freeBoardTitle}, #{freeBoardContent}, sysdate, #{freeBoardWriter}, #{freeBoardReadcount} , 1)
 	</insert>
 	
 	<delete id="deleteByfreeBoardNum" parameterType="com.kaactueail.dto.FreeBoardDTO">
 		delete from freeboard where FreeBoardnum= #{FreeBoardnum}
 	</delete>
 	
 	<update id="updateByfreeBoardNum" parameterType="com.kaactueail.dto.FreeBoardDTO">
		update freeboard set freeBoardTitle = #{freeBoardTitle}, freeBoardContent = #{freeBoardContent} where freeBoardNum = #{freeBoardNum}
 	</update>
 
 
 </mapper>